.dice {
   
    list-style: none;
    padding: 20px;
    width: 200px;
    height:200px;
    border: solid 5px #000;
    border-radius: 20px;
    box-sizing: border-box;
    display: inline-flex;
    margin: 15px;
}

div {
    display: flex;   
    justify-content: center;    
}

.point {
    outline: solid 2px white;
}

.point {
    content="";
    display: inline-block;
    width: 40px;
    height: 40px;
    background-color: black;
    border-radius: 50%; 
}

.six { 
    justify-content: space-between;
    align-items: space-between;
    flex-flow: wrap column;  
}

.six .point:nth-of-type(4) {
    margin-left: 70px;
}
.six .point:nth-of-type(5) {
    margin-left: 70px;
}
.six .point:nth-of-type(6) {
    margin-left: 70px;
}

.two {
  justify-content: space-between;
}

.two .point:nth-of-type(2) {
  align-self: flex-end;
}
.five {
    
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
}

.five .point:nth-of-type(2) {
    margin-top: 50px;
}

.three {
    justify-content: space-between;
    align-items: center;
}
.three .point:nth-of-type(3) {
  align-self: flex-end;
}
.three .point:nth-of-type(2) {
  align-self: center;
}
.three .point:nth-of-type(1) {
  align-self: flex-start;
}

.four {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.four .point:nth-of-type(2) {
    margin-left: 70px;
}

.four .point:nth-of-type(3) {
    margin-top: 70px;
}

.four .point:nth-of-type(4) {
    margin-top: 70px;
}

.one {  
    justify-content: center;
    align-items: center;
}

.one {  
    justify-content: center;
    align-items: center;
}