h2 {display:flex;
    justify-content: center;
    color: #576BCD;
    font-family: tahoma;
     margin: 20px;
}
a {
    color: #6779D1;
    font-family: tahoma;
    text-decoration: none;
    cursor: pointer;
}
.button_continue {
    width: 266px;
    font-family: tahoma;
    height: 37px; 
    color: white;
    background-color:#576BCD;
    border-radius: 5px;
    box-shadow: none;
    border-style: none;
    cursor: pointer;
}
input {
    width: 250px;
    height: 33px; 
    border-radius: 3px;
    box-shadow: none;
    border: 2px solid #ADB7E5;
    color: #464A5B;
    font-family: tahoma;
    cursor: pointer;
    padding-left: 10px;
    
}
.register {
    font-family: tahoma;
    border-radius: 3px;
    box-shadow: 1;  
    display: flex;
    justify-items: start;
    align-items: center;
    justify-items:center;
    margin: 0 auto;
    width: 335px;
    height: 350px;
    flex-direction: column;
    box-shadow: 0px 5px 15px -3px #D7D7D9;
}
.title1 {
   display: flex;
    align-self: flex-start;
    margin-left: 35px;
    margin-top: 30px;
    font-size: 15px;
}
.dont {
    display: flex;
    justify-content: center;
    margin:25px;
    font-size: 11px;
    font-family: tahoma;
}
label {
    font-size: 10px;

}

#flag {
    width: 13px;
    height: 13px; 
}

#flag1 {
    display: flex;
    font-size: 12px;
    justify-content: center;
}

#forgot {
    padding-left: 95px;
    font-size: 10px;
}




















